.banner {
    background-color: $color-ice;
}

img.banner-map {
    max-width: 100%;
}

.month-profile {
    display: flex;
}

.month-profile {
    padding: 5%;
}

.month-profile img {
    @include boxShadowPositive(20px, 20px)
}

.month-text {
    margin-left: 5%;
}