

.blog-end p{
    margin-bottom: 0;
    padding-left: 40%;
    background-color: $color-black;
}
.blog-end p {
    background-color: $color-black;
}

//Media query

@include blogOne {
    .blog-end {
        margin-top: 5%;
        padding-top: 5%;
    }
}