.blog-container-two {
    width: 100%;
    height: auto;
    display: flex;
    margin-bottom: 100%;
    padding-bottom: 10%;
}

.blog-aside {
    width: 80%;
    height: auto;
    margin-top: 10%;
    position: relative;
}

.aside-lens {
    width: 100%;
    display: block;
    z-index: 20;
    position: relative;
}

.aside-text {
    background-color: #FAFAFA;
    width: 68%;
    margin-left: 35%;
    padding: 5%;
    position: absolute;
    padding-top: 79%;
    top: 8%;
    z-index: 5;
}

.aside-text ul {
    padding-left: 10px;
}

//Media query

@include desktopThree {
    .blog-container-two{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .blog-aside {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .aside-lens {
        width: 50%;
        padding-right: 10%;
        margin-top: 10%;
    }

    .aside-text {
        padding-top: 5%;
        padding-left: 10%;
    }
}

@include desktopFive {
    .aside-text h3,
    .aside-text ul {
        display: none;
    }
}

@include blogTwo {
  .blog-container-two{
   padding-right: 10%;
  }
}