
$base-font: 'Roboto', sans-serif;
$heading-font: 'Playfair Display', serif;


html {
    font-size: 62.5%;
}

body p {
    @include fontSizeBody(2rem);
}
ul.nav-link li a {
    font-size: 2rem;
    color: $color-black;
    font-family: $heading-font;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    line-height: 2.9rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

h1 {
    font-family: $heading-font;
    font-weight: bold;
    font-style: italic;
    color: $color-black;
    text-align: center;
    font-size: 12rem;
    text-transform: uppercase;

}



.intro h2,
.month-text h2 {
    @include fontSizeHeadingSmall(4.2rem);
}

.info-text h3,
.gear-text h3,
.link-top-picks h3,
.link-blog h3,
.link-community h3,
.link-get-in-touch h3 {
    @include fontSizeHeadingSmall(3.2rem);
}

.gear-text h3,
.gear-text p{
    padding-left: 23%;
}

.end p{
    @include fontSizeBody(2rem);
    color: $color-white;
    // margin: 0 auto;
}

button a.btn {
    // color: red;
    font-family: $heading-font;
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    line-height: 3.2rem;
    letter-spacing: 1px;
    text-decoration: none;
    color: $color-black;
    text-transform: uppercase;
    // text-decoration: none;
}

// Font styling for blog page

ul.blog-nav-link li a {
    font-size: 2rem;
    color: $color-black;
    font-family: $heading-font;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    line-height: 2.9rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.blog-top h1 {
    font-size: 8rem;
}

.blog-container p {
    @include fontSizeBody(2rem);
    line-height: 2.2rem;
}

.aside-text ul li{
    @include fontSizeAsideComment(1.5rem);
}

.aside-text p a {
    color: $color-black;
    text-decoration: none;
    font-weight: bold;
}

.blog-container h3{
    @include fontSizeHeadingSmall(2rem);

}




