
$base-font: 'Roboto', sans-serif;
$heading-font: 'Playfair Display', serif;


html {
    font-size: 62.5%;
}

body p {
    @include fontSizeBody(2rem);
}
ul.nav-link li a {
    font-size: 2rem;
    color: $color-black;
    font-family: $heading-font;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    line-height: 2.9rem;
    letter-spacing: 1px;
}

h1 {
    font-family: $heading-font;
    font-weight: bold;
    font-style: italic;
    color: $color-black;
    text-align: center;
    font-size: 13.8rem;

}

.intro h2 {
    @include fontSizeHeadingSmall(4.2rem);
}



