
$base-font: 'Roboto', sans-serif;
$heading-font: 'Playfair Display', serif;


html {
    font-size: 62.5%;
}

@mixin base-text($size-value){
    font-size: $size-value;
    font-family: $base-font;
    line-height: 3.2rem;
}

// @mixin heading-text($size-value){
//     font-size: $size-value;
//     font-family: $heading-font;
//     line-height: ;
// }