.intro {
    background-color: $color-ice;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10% 20%;
    position: relative
}

//Media query

@include desktopFour{
    .intro {
        flex: 1 1 auto;
    }
}

@include tabletOne {
    .intro {
        padding-top: 0%;
    }
}

@include desktopSeven {
    .intro {
        justify-content: center;
        align-items: center;
    }

    .intro p {
        padding-left: 13%;
    }
}


