@mixin fontSizeBody($size-value){
    font-size: $size-value;
    font-family: $base-font;
    font-weight: regular;
    color: $color-black;
    line-height: 3.2rem;
}




@mixin fontSizeHeadingSmall($size-value){
    font-size: $size-value;
    font-family: $heading-font;
    font-weight: bold;
    font-style: italic;
    color: $color-black;
    letter-spacing: 1px;
    text-transform: uppercase;
}

@mixin boxShadowPositive($size-value-one, $size-value-two) {
    box-shadow: $size-value-one $size-value-two $color-canary;
}

@mixin fontSizeAsideComment($size-value){
    font-size: $size-value;
    font-family: $base-font;
    font-weight: regular;
    color: $color-black;
    line-height: 2rem;
}


//Media Queries


@mixin desktopOne {
    @media only screen and (max-width:1263px){
        @content;
    }
}

@mixin desktopTwo {
    @media only screen and (max-width: 1200px){
        @content;
    }
}

@mixin desktopThree {
    @media only screen and (max-width: 1180px){
        @content;
    }
}

@mixin desktopFour {
    @media only screen and (max-width: 1080px) {
        @content;
    }
}

@mixin desktopFive {
    @media only screen and (max-width: 1000px) {
        @content;
    }
}



@mixin  desktopSix {
    @media screen and (max-width:855px) {
        @content;
    }
}

@mixin tabletOne {
    @media only screen and (max-width: 834px) {
        @content;
    }
}

@mixin desktopSeven {
    @media screen and (max-width:775px){
        @content;
}
}


@mixin desktopEight {
    @media screen and (max-width:620px) {
        @content;
    }
}