@mixin fontSizeBody($size-value){
    font-size: $size-value;
    font-family: $base-font;
    font-weight: regular;
    color: $color-black;
    line-height: 3.2rem;
}




@mixin fontSizeHeadingSmall($size-value){
    font-size: $size-value;
    font-family: $heading-font;
    font-weight: bold;
    font-style: italic;
    color: $color-black;
    letter-spacing: 1px;
    text-transform: uppercase;
}

@mixin boxShadowPositive($size-value-one, $size-value-two) {
    box-shadow: $size-value-one $size-value-two $color-canary;
}

@mixin fontSizeAsideComment($size-value){
    font-size: $size-value;
    font-family: $base-font;
    font-weight: regular;
    color: $color-black;
    line-height: 2rem;
}