.skills-info {
    max-width: 100%;
    background-color: $color-white;
    display: flex;
}

.skills-info img {
   width: 40%;
    @include boxShadowPositive(20px, 20px);
    position: absolute;
    top: 180%;
}

.info-text {
    padding: 1% 5% 5% 52%;
}

.skills-gear {
    max-width: 100%;
    background-color: $color-white;
    display: flex;
    // flex-direction: row-reverse;
}

.skills-gear img {
    width: 49%;
    margin-left: 5%;
    margin-top: 10%;
    box-shadow: -20px 20px $color-canary;
    z-index: 20;
    position: absolute;
}

.gear-text {
    max-width: 46%;
    padding: 9% 1% 5% 1%;
}


//Media Query


@include desktopFour {
    .info-text {
    padding: 0% 2% 3% 48%;
    }

    .gear-text {
        padding: 7% 2% 5% 0%;
    }
}

@include desktopFive {
     .info-text h3 {
        margin-bottom: 1rem;
    }

    .info-text p{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .gear-text h3 {
        margin-bottom: 1rem;
    }


    .gear-text p{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

@include desktopSix {
   
    .skills-info {
        flex: 1 1 auto ;
    }

}

@include desktopSeven {
    
        .skills-info {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    .skills-gear {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .skills-info img {
   width: 100%;
    position: relative;
 
}

    .skills-gear img {
   width: 100%;
    margin-left: 0;
    position: relative;
}

    .info-text {
        padding: 2%;
        width: 60%;   
    }

    .gear-text {
        max-width: 100%;
     padding: 2% 16% 5% 5%;
}
}